4- Drum Kit/1 - Adding Event Listeners.js
4- Drum Kit/2 - High Order Functions.js
4- Drum Kit/3 - Playing Sounds.js
4- Drum Kit/4 - JS Objects.js
4- Drum Kit/5 - Switch Statement.js
4- Drum Kit/6 - Adding Animation.js
